{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Iniciar sesión...</p>

                <form action="" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="Nombre de Usuario" name="username" type="text" id="id_username" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" id="id_password">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Iniciar Sesión</button>
                    </fieldset>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'js/adminlte.min.js' %}"></script>
</body>
{% endblock %}